@{
	ViewData["Title"] = "Main";
}

@*
	<div class="text-center">
		<h1 class="display-4">Welcome</h1>
		<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	</div>
*@
<main id="v-app-root" class="text-center" v-cloak>
	<ard-state />
	@*<indicator />*@
</main>

<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>

<script type="module">
	//import 'bootstrap';
	import { createApp, ref } from 'vue'
	import commonDirectivesPlugin from 'mbase/common-directives-plugin.mjs'
	import ardConnection from 'mbase/arduino-connection.mjs'

	import ardState from 'mvue-blocks/ard-state.mjs'

	const app = createApp({
		setup() {
			ardConnection.connect();
			return {}
		},
		components: {
			ardState,
		}
	});
	app.use(commonDirectivesPlugin);
	app.mount('#v-app-root');
</script>
